.ListItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: #461717;
    font-weight: 1000;
    font-size: 1.2em;
}

.rmvbtn{
    background-color: #ff4d4d;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.rmvbtn:hover {
    background-color: #ff1a1a;
}

