#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Base Styles */
body{
  background-color: white;
  color: black;
}
.home ul {
  list-style: none;
}
h1{
  margin-bottom: 0px;
}

nav {
  display: flex;
  justify-content: flex-end;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 2px;
  right: 5px;
  z-index: 1000; /
}

nav ul {
  list-style: none; 
  margin: 0; 
  padding: 0;
}

nav li {
  display: inline;
  margin-left: 20px;
}

nav a {
  color: black;
  text-decoration: none; 
  padding: 0.5rem 1rem;
  transition: background-color 0.3s; 
}

nav a:hover {
  color: #fff;
  background-color: #575757; 
  border-radius: 4px; 
}

nav span {
  color: #fff; 
  cursor: not-allowed;
  padding: 0.5rem 1rem;
}

.home {
  
  padding: 20px;
  text-align: center;
}

.header {
  margin-bottom: 30px;
}

.features-list {
  margin: 20px 0;
}

.features-list ul {
  list-style-type: none;
  padding: 0;
}

.features-list li {
  margin: 10px 0;
}

.buttons {
  margin: 20px 0;
}

.todoBtn {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 55px;
}

.todoBtn:hover {
  background-color: #0056b3;
}

/* Media Queries */

/* Mobile Styles */
@media (max-width: 480px) {
  .todo-container {
      padding: 10px;
  }

  h1 {
      font-size: 24px;
  }

  .todo-list {
      padding: 0;
      list-style-type: none;
  }

  .addtodoForm {
      flex-direction: column;
  }
}

/* Tablet Styles */
@media (min-width: 481px) and (max-width: 768px) {
  .todo-container {
      padding: 15px;
  }

  h1 {
      font-size: 28px;
  }
}

/* Desktop Styles */
@media (min-width: 769px) {
  .todo-container {
      padding: 20px;
  }

  h1 {
      font-size: 32px;
  }
}

